*/__pycache__
*/config/environment.conf
*/config/dbconfig.py
*/config/mailcfg.py
*/data-integration/system/karaf/caches/*
*.log
*.pyc
*.DS_Store
*.idea
*.csv
!ping_metrics_to_stage_mapping_data.csv
*.csv.gz
tmp_log.txt
*/*.env
.vscode/
gapi_keyfile.json
gcp_credentials.json
.pytest_cache
.meltano/
*.egg-info
config.json
