stages:
  - build
  - extract

extract_container:
  stage: build
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay2
  tags:
    - analytics
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/extract:$CI_COMMIT_REF_NAME containers/extract
    - docker push $CI_REGISTRY_IMAGE/extract:$CI_COMMIT_REF_NAME

sfdc:
  stage: extract
  image: $CI_REGISTRY_IMAGE/extract:$CI_COMMIT_REF_NAME
  tags:
    - analytics
  script:
    - pwd
    - envsubst < "elt/config/kettle/kettle.properties" > "$KETTLE_HOME/.kettle/kettle.properties"
    - cp "elt/config/kettle/repositories.xml" "$KETTLE_HOME/.kettle/repositories.xml"
