# Globals defined at the bottom of the file

# Job Templates

.job_template: &job_definition
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  tags:
    - analytics

.job_housekeeping: &job_housekeeping
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  tags:
    - housekeeping

# ---------------------------------------------------------------------------

# Stages
# Note some jobs come from global 'include' statements
stages:
  - build # Not in use
  - test # Not in use
  - review
  - setup
  - extract # extract/extract-ci.yml
  - model # transform/cloudsql-dbt/cloudsql-dbt-ci.yml transform/snowflake-dbt/snowflake-dbt-ci.yml
  - model_tests # transform/cloudsql-dbt/cloudsql-dbt-ci.yml transform/snowflake-dbt/snowflake-dbt-ci.yml
  - update
  - publish
  - review_stop

include:
  - "extract/extract-ci.yml"
  - "transform/cloudsql-dbt/cloudsql-dbt-ci.yml"
  - "transform/snowflake-dbt/snowflake-dbt-ci.yml"

# Stage: review

cloudsql_review: &cloudsql_review
  stage: review
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  variables:
    GIT_STRATEGY: clone
  tags:
    - analytics
  script:
    - ci_helpers.py manage_instances
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: review_stop
  only:
    - branches
  except:
    - master
    - $TEST_PIPELINE

cloudsql_review_refresh:
  <<: *cloudsql_review
  variables:
    FORCE: "true"
  when: manual

snowflake_review: &snowflake_review
  stage: review
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  variables:
    GIT_STRATEGY: clone
    SNOWFLAKE_DATABASE: $CI_COMMIT_REF_NAME
  tags:
    - analytics
  script:
    - pip3 install -U snowflake-sqlalchemy
    - manage_snowflake.py manage_clones
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: review_stop
  only:
    refs:
      - branches
    variables:
      - $SNOWFLAKE_ADMIN_ROLE
      - $SNOWFLAKE_LOAD_WAREHOUSE
      - $SNOWFLAKE_LOAD_DATABASE       # make sure the guard works
      - $SNOWFLAKE_TRANSFORM_DATABASE  # make sure the guard works
  except:
    refs:
      - master
    variables:
      - $SNOWFLAKE_DATABASE == $SNOWFLAKE_LOAD_DATABASE
      - $SNOWFLAKE_DATABASE == $SNOWFLAKE_TRANSFORM_DATABASE
      - $TEST_PIPELINE

snowflake_review_refresh:
  <<: *snowflake_review
  script:
    - pip3 install -U snowflake-sqlalchemy
    - manage_snowflake.py manage_clones --force
  when: manual

# Stage: setup

refresh_dev: &refresh_dev
  <<: *job_housekeeping
  stage: setup
  variables:
    GCP_INSTANCE_NAME: $GCP_PRODUCTION_INSTANCE_NAME
    GIT_STRATEGY: clone
  script:
    - ci_helpers.py refresh_dev_instance
    - ci_helpers.py use_proxy "python3 orchestration/grant_roles.py"
  only:
    refs:
      - master
    variables:
      - $REFRESH_DEV

force_refresh_dev:
  <<: *refresh_dev
  variables:
    GCP_INSTANCE_NAME: $GCP_PRODUCTION_INSTANCE_NAME
    GIT_DEPTH: 1
    FORCE: "true"
  when: manual

update_db: &update_db
  <<: *job_housekeeping
  stage: setup
  script:
    - ci_helpers.py use_proxy "python3 orchestration/grant_roles.py"
  only:
    - branches
  except:
    - master
    - $TEST_PIPELINE

force_update_db:
  <<: *update_db
  when: manual


# Stage: update

sfdc_update:
  stage: update
  <<: *job_definition
  variables:
    MELT_CI_RETRIES: 0
  script:
    - ci_helpers.py use_proxy "python3 transform/sfdc_processor.py"
  only:
    refs:
      - master
    variables:
      - $SFDC_UPDATE

sfdc_snapshot: &sfdc_snapshot
  stage: update
  <<: *job_definition
  script:
    - ci_helpers.py use_proxy "python3 extract/util/snapshot_opportunity.py"
    - ci_helpers.py use_proxy "python3 extract/util/snapshot_account.py"
  only:
    refs:
      - master
    variables:
      - $SFDC_SNAPSHOT

sfdc_update_manual:
  stage: update
  <<: *job_definition
  script:
    - ci_helpers.py use_proxy "python3 transform/sfdc_processor.py"
  only:
    refs:
      - branches
  when: manual

sfdc_snapshot_manual:
  stage: update
  <<: *sfdc_snapshot
  only:
    refs:
      - branches
  when: manual

# Stage: publish

# ======
# Pages
# ======
.variables: &pages_job__variables
  SNOWFLAKE_DATABASE: $CI_COMMIT_REF_NAME
  SNOWFLAKE_ROLE: $SNOWFLAKE_TRANSFORM_ROLE
  SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_TRANSFORM_WAREHOUSE

.pages_job_template: &pages_job_template
  stage: publish
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  variables: *pages_job__variables
  script:
    - generate_dbt_docs.sh
  artifacts:
    paths:
    - public
  tags:
    - analytics

pages:
  <<: *pages_job_template
  variables:
    <<: *pages_job__variables
    SNOWFLAKE_DATABASE: $SNOWFLAKE_TRANSFORM_DATABASE
  only:
    refs:
      - master
    variables:
      - $DEPLOY_DBT_PAGES

test_dbt_pages:
  <<: *pages_job_template
  only:
    - branches
  except:
    - master
  when: manual


# Stage: review_stop

review_stop:
  stage: review_stop
  image: registry.gitlab.com/meltano/meltano-elt/extract:latest
  variables:
    GIT_STRATEGY: none
    SNOWFLAKE_DATABASE: $CI_COMMIT_REF_NAME
  script:
    - git clone $CI_REPOSITORY_URL
    - pip3 install -U snowflake-sqlalchemy
    - analytics/orchestration/manage_snowflake.py delete_clone
    - analytics/orchestration/ci_helpers.py delete_instance
  when: manual
  allow_failure: true
  only:
    refs:
      - branches
    variables:
      - $SNOWFLAKE_ADMIN_ROLE
      - $SNOWFLAKE_LOAD_WAREHOUSE
      - $SNOWFLAKE_LOAD_DATABASE       # make sure the guard works
      - $SNOWFLAKE_TRANSFORM_DATABASE  # make sure the guard works
  except:
    refs:
      - master
    variables:
      - $SNOWFLAKE_DATABASE == $SNOWFLAKE_LOAD_DATABASE
      - $SNOWFLAKE_DATABASE == $SNOWFLAKE_TRANSFORM_DATABASE
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  tags:
    - housekeeping

#--------------------------------------------------------------------------

# Global definitions


variables:
  PYTHONPATH: "$CI_PROJECT_DIR/extract/:$CI_PROJECT_DIR/extract/shared_modules/:$PYTHONPATH"

before_script:
  - export PATH="$CI_PROJECT_DIR/orchestration/:$PATH"
  - export PYTHONPATH="$CI_PROJECT_DIR/extract/:$CI_PROJECT_DIR/extract/shared_modules/:$PYTHONPATH"

