# ======
# Documentation
# ======

# https://gitlab.com/help/user/project/code_owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# ======
# Default
# ======

* @jjstark @kathleentam @tayloramurphy

# ======
# Top Level Folder Overwrites
# ======

/dags/ @tayloramurphy
/extract/ @tayloramurphy
/load/ @tayloramurphy
/orchestrate/ @tayloramurphy

# ======
# Top Level File Overwrites
# ======

Makefile @tayloramurphy
docker-compose.yml @tayloramurphy
.gitlab-ci.yml @tayloramurphy

# ======
# dbt Overwrites
# ======

/transform/ @tayloramurphy @emilie
/transform/snowflake-dbt/ @tayloramurphy @kathleentam @emilie
/transform/snowflake-dbt/snowflake-dbt-ci.yml @tayloramurphy
/transform/snowflake-dbt/docs/ @tayloramurphy
/transform/snowflake-dbt/macros/ @tayloramurphy @emilie
/transform/snowflake-dbt/models/bamboohr/ @emilie @kathleentam @pluthra
/transform/snowflake-dbt/models/customers/ @eli_kastelein @mpeychet_
/transform/snowflake-dbt/models/gitlab_data_yaml/ @tayloramurphy
/transform/snowflake-dbt/models/gitlab_dotcom/ @eli_kastelein @mpeychet_
/transform/snowflake-dbt/models/greenhouse/ @pluthra
/transform/snowflake-dbt/models/license/ @eli_kastelein @mpeychet_
/transform/snowflake-dbt/models/netsuite/ @iweeks
/transform/snowflake-dbt/models/version/ @eli_kastelein @mpeychet
/transform/snowflake-dbt/models/sfdc/ @derekatwood
/transform/snowflake-dbt/models/smau_events/ @eli_kastelein @mpeychet
/transform/snowflake-dbt/models/snowplow/ @tayloramurphy
/transform/snowflake-dbt/models/snowplow_combined/ @tayloramurphy

# ======
# dbt data file Overwrites
# ======

/transform/snowflake-dbt/data/projects_part_of_product.csv @clefelhocz1
