# ======
# Documentation
# ======

# https://gitlab.com/help/user/project/code_owners

# Ending a path in a `/` will specify the code owners for every file
# nested in that directory, on any level

# ======
# Default
# ======

* @jjstark @kathleentam @tayloramurphy

# ======
# Top Level Folder Overwrites
# ======

/dags/          @tayloramurphy  @m_walker
/extract/       @tayloramurphy  @m_walker
/load/          @tayloramurphy  @jjstark    @kathleentam
/orchestrate/   @tayloramurphy  @m_walker

# ======
# Top Level File Overwrites
# ======

Makefile            @tayloramurphy @m_walker
docker-compose.yml  @tayloramurphy @m_walker
.gitlab-ci.yml      @tayloramurphy @m_walker

# ======
# dbt Overwrites
# ======

/transform/                                         @tayloramurphy  @jjstark    @emilie     @kathleentam
/transform/snowflake-dbt/                           @tayloramurphy  @jjstark    @emilie     @kathleentam

/transform/snowflake-dbt/snowflake-dbt-ci.yml       @tayloramurphy  @m_walker
/transform/snowflake-dbt/docs/                      @tayloramurphy  @jjstark    @emilie     @kathleentam
/transform/snowflake-dbt/macros/                    @tayloramurphy  @jjstark    @emilie     @kathleentam

/transform/snowflake-dbt/models/bamboohr/           @emilie         @kathleentam
/transform/snowflake-dbt/models/customers/          @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/gitlab_data_yaml/   @tayloramurphy  @kathleentam
/transform/snowflake-dbt/models/gitlab_dotcom/      @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/greenhouse/         @pluthra        @kathleentam
/transform/snowflake-dbt/models/license/            @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/netsuite/           @iweeks         @kathleentam
/transform/snowflake-dbt/models/sfdc/               @derekatwood    @kathleentam
/transform/snowflake-dbt/models/smau_events/        @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/snowplow/           @tayloramurphy  @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/snowplow_combined/  @tayloramurphy  @eli_kastelein  @mpeychet_
/transform/snowflake-dbt/models/version/            @eli_kastelein  @mpeychet_

/transform/snowflake-dbt/models/sources/zendesk     @derekatwood    @ken_aguilar
/transform/snowflake-dbt/models/staging/zendesk     @derekatwood    @ken_aguilar

# ======
# dbt data file Overwrites
# ======

/transform/snowflake-dbt/data/projects_part_of_product.csv @clefelhocz1
