[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"oauth2client" = "*"
requests = "*"
configparser = "*"
fire = "*"
toolz = "*"
clearbit = "*"
ipwhois = "*"
tldextract = "*"
simple-salesforce = "*"
salesforce-bulk = "==2.1.0"
sqlalchemy = "*"
pandas = "*"
pyrseas = "*"
"psycopg2" = ">=2.7.4"
lxml = "*"
zeep = "*"
google-cloud-storage = ">=1.10.0"
dbt = "*"


[dev-packages]

"flake8" = "*"
"autopep8" = "*"


[requires]

python_version = "3.7"
