[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpread = "*"
oauth2client = "*"
requests = "*"
configparser = "*"
dbt = "*"
fire = "*"
toolz = "*"
clearbit = "*"
ipwhois = "*"
tldextract = "*"
simple-salesforce = "*"
SQLAlchemy = "*"
pandas = "*"
Pyrseas = "*"
"psycopg2" = "==2.7.4"
"ae7a3bd" = {path = "./elt/shared_modules", editable = true}
"d32390c" = {path = "./elt/shared_modules", editable = true}
lxml = "*"
zeep = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.5"
