[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauth2client = "*"
requests = "*"
configparser = "*"
dbt = "*"
fire = "*"
toolz = "*"
clearbit = "*"
ipwhois = "*"
tldextract = "*"
simple-salesforce = "*"
salesforce-bulk = "==2.1.0"
SQLAlchemy = "*"
pandas = "*"
Pyrseas = "*"
"psycopg2" = ">=2.7.4"
lxml = "*"
zeep = "*"
google-cloud-storage = ">=1.10.0"
pytest = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
